.contents.row
  -@tweets.each do |tweet|
    -# 通常記述時にstyleを反映させる書き方（クラス名と{の間にスペース不要）
    -# ""間でruby式使用する場合は『=tweet.image』ではNG
    .content_post{style: "background-image: url(#{tweet.image});"}
      -# 下記でもOK（ハッシュロケット記述？）
      -# .content_post{:style => "background-image: url(#{tweet.image});"}
      -if user_signed_in? && current_user.id == tweet.user_id
        -# 前者がないと、未ログイン時『current_user』が『nil』となり、エラーになる。
        .more
          %span
            = image_tag "arrow_top.png"
          %ul.more_list
            %li
              = link_to "削除", "/tweets/#{tweet.id}", method: :delete
              -# each内なので、『tweet.id』でそれぞれが取れる。
        = simple_format(tweet.text)
      %span.name<>
        = link_to "/users/#{tweet.user_id}", html: "" do
          %span 投稿者
          #{tweet.user.nickname}
          -# 『link_to(url, html_options = {}) do』を参照
        -# %span.name=tweet.name：アソシエーションを組む前の記述の仕方

  =paginate(@tweets)
  -# 初期設定のままでは、設定数以上のレコードがないと、この部分が表示されない。

-#
  単体表示（不要カラム削除した為、全てコメアウト中）
  %br
    =@tweet.name
    =@tweet.text
    #{@tweet.text}
    =@tweet.image
  %br
  レコード全ての表示
  %br
