.contents.row
  .content_post{style: "background-image: url(#{@tweet.image});"}
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %span
          = image_tag "arrow_top.png"
        %ul.more_list
          %li
            = link_to "編集", "/tweets/#{@tweet.id}/edit", method: :get
          %li
            = link_to "削除", "/tweets/#{@tweet.id}", method: :delete
    = simple_format(@tweet.text)
    %span.name
      = link_to "/users/#{@tweet.user.id}", html: "" do
        -# 『link_to(url, html_options = {}) do』を参照
        %span 投稿者
        =@tweet.user.nickname

  / コメント入力欄
  .container
    - if current_user
      -# ログインしていれば下記表示可能
      = form_tag "/tweets/#{@tweet.id}/comments", method: :post do
        -#
           上記の様に記載することで、paramsの中にコメントと結びつくtweetのidが追加され、
           コントローラー側で容易に取得が可能。
        -# = form_tag "/tweets/8/comments", method: :post do
        -# = form_tag tweet_comments_path, method: :post
        = label_tag :text, "コメント入力欄"
        = text_area_tag :text, "", placeholder: "コメントする", cols: "30", rows: "2"
        = submit_tag "SENT"

  / コメント入力欄
