.contents.row
  -if user_signed_in?
    - if @user.detail.present?
      %p.content_left
        = link_to "#{@nickname}さんのプロフィール", "/users/#{@user.id}/details/#{@user.detail.id}"
    - else
      %p.content_left
        = link_to "#{@nickname}さんのプロフィール", "/users/#{@user.id}/details/profile"
  %p
    -# 表示パターン１：テキスト内での式展開の仕方
    #{@nickname}さんの投稿一覧
    -# 表示パターン２：式展開とテキストを分ける
    -# = @nickname
    -# さんの投稿一覧
  -@tweets.each do |tweet|

    = render partial: "tweets/tweet", locals: { tweet: tweet}
    -# 違う階層内の部分テンプレートを呼びだすことも可能

    -#
      部分テンプレート使用前の記述内容
      .content_post{style: "background-image: url(#{tweet.image});"}
        = simple_format(tweet.text)
        -#
          %span.name
            投稿者#{tweet.user.nickname}：不要カラム削除後に整理
            （マイページに投稿者：自分を表示する必要がない為）
        -# %span.name=tweet.name：アソシエーションを組む前の記述の仕方

  =paginate(@tweets)
