%h1 ユーザー一覧
.profile_list
  %table
    %theader
      %tr
        %th 名前
        %th 性別
        %th 年齢
        %th 出身
        %th 自己紹介文
    %tbody
      - @details.each do |detail|
        %tr
          %td
            = detail.user.nickname
          %td
            = detail.gender
          %td
            #{calculate_age(detail.birthday)}歳
          %td
            = detail.hometown
          %td
            = detail.body
